
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
}
header {
    max-width: 1000px;
  margin: .5rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
    justify-items: left;
}
main {
  max-width: 1000px;
  margin: .5rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
  display: flex;
}
footer {
    max-width: 1000px;
  margin: .5rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    justify-self: right;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
    justify-self: left;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: center;
}


@media screen and (max-width: 1000px) {
    footer {
    max-width: 500px;
  margin: .5rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
main {
  max-width: 500px;
  margin: .5rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
header {
    max-width: 500px;
  margin: .5rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
    justify-items: center;
}
nav a {
    display: none;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
}
}

@media screen and (max-width: 500px) {
    header {
    max-width: 300px;
    }
    main {
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }
    footer {
        max-width: 300px;
    }
}