header {
    background-color: blue;
    justify-items: center;
    padding: 1rem;
    text-align: center;
}
h1 {
    color: white;
    size: 50px;
}
#menu {
    display: none;
    color: white;
}
#navBoard a {
    color: white;

}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
main {
    justify-items: center;
    padding: 1rem;
    background-color: gray;
}
.Pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: .5rem auto;
}
#pic {
    border: 20px solid ivory;
    border-radius: 20px;
}
#navBoard.hidden {
    display: none !important;
    border: 5px solid red !important;
}
footer {
    justify-items: center;
    background-color: blue;
    padding: 1rem;
    text-align: center;
}
footer p1 {
    color: white;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (max-width: 1350px) {
    #Pics {
        grid-template-columns: repeat(2, 1fr);
    }
    #menu {
        display: flex;
    }
    #navBoard {
    width: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #navBoard > a {
        text-align: center;
        border-top: 1px solid black;
    }
}

@media screen and (max-width: 950px) {
    #Pics {
        grid-template-columns: repeat(1, 1fr);
    }
}